
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/objs/
/nbproject/
/nginx.service
/Makefile
/README
/.vscode
/3rd/nginx-c-function-1.0/
/ngx_http_hi_module/lib/shared_memory.hpp